@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background: rgba(0, 0, 0, 0.05);
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "sans-serif";
  font-weight: 300;
  color: #111;
}
.banner {
  position: relative;
  background: url(img1.jpg);
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .hamberger {
  display: none;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 5em;
  color: #fff;
}

.banner .content p {
  margin: 20px 0;
  font-size: 1.3em;
  color: #fff;
  line-height: 30px;
}

.menu_btn {
  color: #fff;
  background: #ff0157;
  border-radius: 10px;
  font-size: 1.6em;
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.menu_btn:hover {
  transform: scale(1.1);
}

header {
  position: fixed;
  width: 100%;
  padding: 30px 40px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.sticky {
  background: #fff;
}

.sticky .logo {
  color: #111;
}

.sticky .navbar li a {
  color: #111;
}

header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 35px;
}

header .logo span {
  color: #ff0157;
}

header .view {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

header .navbar {
  position: relative;
  display: flex;
}

header .navbar li {
  list-style: none;
  margin-left: 30px;
}

header .navbar a {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  transition: color 0.2s ease;
}

header .hamberger {
  display: none;
}

header .navbar li a:hover {
  color: #ff0157;
}

section {
  padding: 100px;
}

.row {
  margin-bottom: 50px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row .col50 {
  padding-top: 100px;
  position: relative;
  width: 48%;
}

.row .col50 .titleText {
  color: #111;
  font-size: 2em;
  font-weight: 500;
  font-weight: 700;
}

.row .col50 .titleText span {
  font-size: 1.5em;
  color: #ff0157;
}

.row .col50 p {
  color: #111;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
  margin-top: 25px;
}

.row .col50 .imgBx {
  position: relative;
  width: 100%;
  height: 100%;
}

.row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.photo_text {
  padding-top: 85px;
  text-align: center;
}

.section_photo {
  margin-top: 50px;
  background: url("https://images.unsplash.com/photo-1545810300-732e4b9e06b3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjN8fHdvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.section_title {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}

.section_title span {
  font-size: 1.5em;
  color: #ff0157;
}

.photo_text p {
  padding-top: 20px;
  position: relative;
  text-align: center;
  font-size: 18px;
  color: #111;
}

.section_photo .photoBx {
  min-width: 350;
  margin-left: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 16px 16px 16px 16px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.section_photo .photoBx:hover {
  transform: scale(1.05);
}

.section_photo .photoBx .photo_title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
}

.photo_imgBx {
  position: relative;
  width: 350px;
  min-height: 350px;
}

.photo_imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.section_photographer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.photoG_titleText {
  text-align: center;
  font-size: 2em;
  color: #111;
  font-weight: 700;
}

.photoG_titleText span {
  font-size: 1.5em;
  color: #ff0157;
}

.section_photographer h3 {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  font-size: 18px;
  color: #111;
  font-weight: 300;
}

.section_photographer .photoG_container {
  margin: 30px 0 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.photoG_imgBx {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 400px;
  margin: 20px 0 30px 30px;
  background: #fff;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.photoG_imgBx:hover {
  transform: scale(1.05);
}

.photoG_imgBx-box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photoG_imgBx img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.photoG_imgBx img:hover {
  transform: scale(1.5);
}

.photoG_imgBx h1 {
  font-size: 32px;
  margin: 20px 0;
}

.photoG_imgBx p {
  font-size: 20px;
  line-height: 28px;
}

.section_contact {
  width: 100%;
  min-height: 100vh;
  background: #111;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section_contact .contact_box {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.contact_box .contact_box-text {
  text-align: center;
}

.contact_box-text .contact_title {
  font-size: 4em;
  font-weight: 600;
  color: #fff;
  margin-bottom: 70px;
}

.contact_box-text p {
  font-size: 1.3em;
  color: #fff;
  margin-bottom: 80px;
}

.contact_form {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.contact_form .inputBx {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: all 0.2s ease-in-out;
}

.contact_form .inputBx:focus-within {
  transform: scale(1.1);
}

.contact_form input:first-child {
  outline: none;
  color: #fff;
  font-size: 1.4em;
  font-weight: 600;
  width: 450px;
  padding: 20px 0px 20px 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: none;
}

.contact_form input::placeholder {
  color: #fff;
  letter-spacing: 3px;
}

.contact_form input[type="submit"] {
  position: absolute;
  cursor: pointer;
  right: -50px;
  top: 0;
  padding: 20px 20px 20px 10px;
  color: #fff;
  background: #ff0157;
  outline: none;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 3px;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.contact_form input[type="submit"]:hover {
  background: #fff;
  color: #ff0157;
}

.contact_icons {
  display: flex;
  justify-content: center;
}

.contact_icons i {
  font-size: 1.5em;
  font-weight: 600;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.contact_icons .fa-instagram {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact_icons .fa-twitter {
  color: #1abeeb;
}

.contact_icons .fa-youtube {
  position: relative;
  color: #f22c11;
}

.contact_icons .fa-facebook-f {
  color: #428895;
}

.contact_icons i:not(first-child) {
  margin-left: 20px;
}

.contact_icons i:hover {
  transform: scale(1.4);
}

footer {
  height: 80px;
  background: #111;
  border-top: 1px solid rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h2 {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
}

@media all and (max-width: 830px) {
  header {
    display: flex;
    justify-content: center;
  }
  .color {
    background: #fff;
  }

  .color li a {
    color: #111;
  }

  header .navbar,
  header .logo {
    display: none;
  }

  header .view {
    display: flex;
    transition: all 0.5s ease-in-out;
  }
  header .hamberger {
    display: block;
    position: absolute;
    cursor: pointer;
    font-size: 2rem;
    color: #111;
    top: 15px;
    right: 20px;
    display: inline;
  }

  .row {
    justify-content: center;
  }

  .col50:first-child {
    width: 500px;
  }

  .col50:nth-child(2) {
    width: 500px;
    height: 500px;
  }

  .col50 .titleText {
    text-align: center;
  }

  .section_photo .photoBx {
    margin-left: 0px;
  }

  .photoG_imgBx {
    margin-left: 0;
  }

  .inputBx input:first-child {
    width: 350px;
  }
  .inputBx input[type="submit"] {
    -webkit-position: absolute;
    top: 100px;
    left: 90px;
    border-radius: 5px;
  }
}
