@import "reset.css";
* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background: rgba(0, 0, 0, 0.03);
}

p {
  font-weight: 300;
  color: #111;
}
.banner {
  position: relative;
  background: url(img1.jpg);
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 5em;
  color: #fff;
}

.banner .content p {
  margin: 20px 0;
  font-size: 1.3em;
  color: #fff;
  line-height: 30px;
}

.menu_btn {
  color: #fff;
  background: #ff0157;
  border-radius: 10px;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.2s;
}

.menu_btn:hover {
  transform: scale(1.1);
}

header {
  position: fixed;
  width: 100%;
  padding: 30px 40px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
}

.sticky {
  background: #fff;
}

.sticky .logo {
  color: #111;
}

.sticky .navbar li a {
  color: #111;
}

header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 35px;
}

header .logo span {
  color: #ff0157;
}

header .navbar {
  position: relative;
  display: flex;
}

header .navbar li {
  list-style: none;
  margin-left: 30px;
}

header .navbar a {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  transition: color 0.2s ease;
}

header .navbar li a:hover {
  color: #ff0157;
}

section {
  padding: 100px;
}

.row {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row .col50 {
  position: relative;
  width: 48%;
}

.row .col50 .titleText {
  color: #111;
  font-size: 2em;
  font-weight: 500;
  font-weight: 700;
}

.row .col50 .titleText span {
  font-size: 1.5em;
  color: #ff0157;
}

.row .col50 p {
  color: #111;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
  margin-top: 25px;
}

.row .col50 .imgBx {
  position: relative;
  width: 100%;
  height: 100%;
}

.row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.photo_text {
  padding-top: 85px;
  text-align: center;
}

.section_photo {
  margin-top: 30px;
  background: url("https://images.unsplash.com/photo-1545810300-732e4b9e06b3?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjN8fHdvb2R8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.section_title {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}

.section_title span {
  font-size: 1.5em;
  color: #ff0157;
}

.photo_text p {
  padding-top: 20px;
  position: relative;
  text-align: center;
  font-size: 18px;
  color: #111;
}

.section_photo .photoBx {
  width: 450px;
  margin-left: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 16px 16px 16px 16px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.section_photo .photoBx:hover {
  transform: scale(1.05);
}

.section_photo .photoBx .photo_title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.photo_imgBx {
  position: relative;
  width: 100%;
  height: 400px;
}

.photo_imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
